# Compilados de Java
*.class

# Directorios de salida
/bin/
/out/
/target/

# Archivos de configuración de IDEs
/.idea/
/*.iml
/.vscode/
/*.ipr
/*.iws
/.settings/
/.project
.classpath

# Dependencias download por IDEs o herramientas
/.gradle/
/.gradle/
/build/
/tmp/
/*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Otros
*.swp
